# Global
*.DS_Store
Desktop.ini
Thumbs.db

# Project
!.keep
*.sass-cache
/_assets/yarn/
/_site/assets/
/.jekyll-cache/
Gemfile.lock
package-lock.json
yarn.lock
.jekyll-metadata
.idea
.env
_config.yml.orig
s3_website.yml.orig
vendor/
_drafts/
